samplesT142/*.fq.gz
samplesT142/*.fq
stacks/*.tsv.gz
stacks/*.tsv
samplesT92/*.fq.gz
samplesT92/*.fq
stacks/*.genepop
stacks/*.fa
stacks/*.populations.txt
stacks/*.fa
stacks/*.haplotypes
stacks/*.sumstats
stacks/*.sumstats_summary
stacks/*hapstats
scripts/*.sam
stacks/batch_1.CorrectedGenotypes*
stacks/batch_1.filteredIndivids*
stacks/batch_1_heterozygosity.txt
stacks/populations_first_run/*
populations_first_run/*